<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/card.css">
  <title>Relation</title>
</head>

<body>
  <form method="POST" action="/">
    <img src="static/maison.png" class="maison">
    <button class="bouton" value="home" name="redir"></button>
  </form>
  <div class="result">
      <h1>{{ .TabOneArtist.Name }}</h1>
      <div class=image>
         <img href="#" src="{{ .TabOneArtist.Image }}">
      </div class="place">
       {{range $location, $date := .TabRelations.DatesLocations}}
       <h2>{{$location}}</h2>
        {{ range $date}}
        <p> {{ . }} </p>
         {{ end }}
       {{end}}
</div>
</body>

</html>